body > header {
    position: sticky;
    width: 100%;
    height: 80px;
    background-color: rgb(37, 37, 37);
}

.banner{
    position: relative;
}

.banner{
   /* content: "";
    display: block;
    background-color: #333;
    background-image: linear-gradient(to right, #eaee, #33d0ff);
    !*position: absolute;*!
    top: 0;
    bottom: 0;
    opacity: .7;
    z-index: 0;
    mix-blend-mode: hard-light;*/
}

/*.banner > *{
    z-index: 10;
    position: relative;
}*/

header > img{
    margin: auto;
    width: 150px;
}

body > header > nav{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: inline;
    width: 653px;
}

body > header > nav > ul{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    list-style: none;
    display: ruby;
}

/*body > header > h1{
    margin: 0;
}*/

.list{
    padding: 0 10px 0 10px;
    font-family: 'Ubuntu', sans-serif;;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}

body > header > nav > ul > li > a{
    text-decoration: none;
    color: white;
}

body > header > nav > ul > li > a:hover{
    color: #fec51c;
}

main > section:nth-child(1) > #img1{
    width: 100%;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

main > section:nth-child(1) > #mypic{
    background-size: cover;
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 122px;
    right: 0;
}

main > section:nth-child(1) > aside{
    position: absolute;
    right: 188px;
    left: 300px;
    /*top: 96px;*/
    top: 13px;
    color: white;
}

main > section:nth-child(1) > aside > h1{
    width: 520px;
    font-family: 'Ubuntu', sans-serif;
}

main > section:nth-child(1) > aside > h4{
    margin-left: -15px;
    width: 523px;
    color: #45e5e5;
    font-family: 'Ubuntu', sans-serif;
}

main > section:nth-child(1) > aside > pre{
    margin: auto;
    padding-right: 146px;
    width: 523px;
    font-family: 'Quando', serif;
}

main > section:nth-child(1) > aside > a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    border: 1px solid #494747;
    margin-left: 174px;
}

/*
main > section:nth-child(1) > img{
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
}*/

main > section:nth-child(1) > #btnlike{
    position: absolute;
    top: 482px;
    bottom: 0px;
    right: 0;
    left: 220px;
    color: wheat;
}

main > section:nth-child(1) > pre{
    position: absolute;
    top: 535px;
    bottom: 0px;
    right: 0;
    left: 186px;
    color: wheat;
    width: 246px;
}

main > section:nth-child(2) > h1{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 585px;
    right: 0px;
    width: 300px;
    height: 53px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

main > section:nth-child(2) > .sec_flex{
    height: 300px;
    /*border: 1px solid green;*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 51px;
    background: #333;
}

main > section:nth-child(2) > .sec_flex > div{
   /* border: 2px solid red;*/
    border-radius: 10px;
    /*background: #fff;*/
    background: #333;
    /*box-shadow: -2px 6px 9px -4px #917a7a;*/
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    z-index: 0;
    /*transition: 6s ease-out;*/
    transition: 1s ease-out;
}

.sec_flex > div:hover{
    transform: translateY(15px);
}

.sec_flex > div:hover:before{
    opacity: 1;
}

main > section:nth-child(3) > #img2{
    width: 100%;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

main > section:nth-child(3) > h1{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

main > section:nth-child(3) > div{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: #333;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    z-index: 0;
    transition: 1s ease-out;
}

main > section:nth-child(3) > div > img{
    /*margin: 43px;*/
    margin-top: 43px;
    margin-left: 25px;
}

main > section:nth-child(3) > div > .margin{
    /*margin: 43px;*/
    margin-top: 26px;
    margin-left: 25px;
}

main > section:nth-child(3) > #edu1{
    position: absolute;
    top: 580px;
    bottom: 0;
    right: 0;
    /*left: 310px;*/
    left: 526px
}

main > section:nth-child(3) > #edu2{
    position: absolute;
    /*top: 143px;*/
    top: 115px;
    bottom: 0;
    right: 0;
    left: 1080px;
}

main > section:nth-child(3) > #edu3{
    position: absolute;
    /*top: 327px;*/
    top: 260px;
    bottom: 0;
    right: 0;
    /*left: 928px;*/
    left: 885px;
}

main > section:nth-child(3) > #edu4{
    position: absolute;
    /*top: 469px;*/
    top: 426px;
    bottom: 0;
    right: 0;
    /*left: 650px;*/
    left: 700px;
}

main > section:nth-child(3) > dl{
    position: absolute;
    /*top: 0;*/
    top: 172px;
    bottom: 0;
    /*left: 0;*/
    left: 500px;
    right: 0;
    color: white;
    width: 544px;
    height: 180px;
}

main > section:nth-child(3) > dl > dt:nth-child(1){
    position: relative;
    top: -10px;
    bottom: 0;
    left: 228px;
    right: 0;
}

main > section:nth-child(3) > dl > #ijse_dd{
    position: relative;
    top: -7px;
    bottom: 0;
    right: 0;
    left: 188px;
}

main > section:nth-child(3) > dl > dt:nth-child(3){
    position: relative;
    /*top: 157px;*/
    top: 102px;
    bottom: 0;
    /*left: 128px;*/
    left: 84px;
    right: 0;
}

main > section:nth-child(3) > dl > #GCE_dd{
    position: relative;
    /*top: 156px;*/
    top: 99px;
    bottom: 0;
    right: 0;
    /*left: 89px;*/
    left: 45px;
}

main > section:nth-child(3) > dl > dt:nth-child(5){
    position: relative;
    /*top: 259px;*/
    top: 229px;
    bottom: 0;
    /*left: -182px;*/
    left: -140px;
    right: 0;
}

main > section:nth-child(3) > dl > #vta_dd{
    position: relative;
    /*top: 259px;*/
    top: 230px;
    bottom: 0;
    right: 0;
    /*left: -222px;*/
    left: -180px;
}

main > section:nth-child(3) > dl > dt:nth-child(7){
    position: relative;
    top: 340px;
    bottom: 0;
    left: -450px;
    right: 0;
}

main > section:nth-child(3) > dl > #kcc_dd{
    position: relative;
    top: 341px;
    bottom: 0;
    right: 0;
    left: -490px;
}

body > footer{
    position: relative;
    background: rgba(0, 0, 0, 0.7);
    height: 500px;
}

body > footer > address > h1{
    width: 403px;
    position: relative;
    margin-left: 99px;
    padding: 79px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

body > footer > address > #cm_h1{
    width: 403px;
    position: absolute;
    text-align: end;
    left: 455px;
    right: 0;
    bottom: 0;
    top: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}

body > footer > address > #gt_h2{
    width: 403px;
    position: absolute;
    text-align: end;
    left: 612px;
    right: 0;
    bottom: 0;
    top: 157px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

body > footer > address > h2{
    width: 403px;
    position: absolute;
    text-align: end;
    top: 290px;
    bottom: 0;
    right: 0;
    left: 513px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

body > footer > address > div{
    border: 1px solid red;
    width: 370px;
    /*height: 360px;*/
    height: 195px;
    border-radius: 30px;
    position: absolute;
    top: 183px;
    bottom: 0;
    left: 164px;
    right: 0;
    /*background-size: cover;*/
}

body > footer > address > div > #adr_img{
    border-radius: 10px;
    background-size: cover;
}

body > footer > address > #p_mail{
    width: 403px;
    position: absolute;
    text-align: end;
    left: 685px;
    right: 0;
    bottom: 0;
    top: 212px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

body > footer > address > #p_yahoo{
    width: 403px;
    position: absolute;
    text-align: end;
    left: 735px;
    right: 0;
    bottom: 0;
    top: 250px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

body > footer > address > small{
    position: absolute;
    text-align: center;
    top: 460px;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-size: 16px;
}

body > footer > address > .icon{
    width: 60px;
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}